<h1>Welcome</h1>
<p>Welcome to StoryBooks 1.0.0</p>
<p>Post stories from your personal life experiences and choose to show them publicly or keep privately</p>
{{#if user}}
{{else}}
<a href="/auth/google" class="red darken-3 btn-large"><i class="fa fa-google left"> Login With Google</i></a>
{{/if}}