<h1>Welcome</h1>
<h5>A web App designed by Umar Magaji Out of passion for programming created from scratch using Node j.s and which
    includes google + api to enable users to login using their google Account</h5>
<p>Welcome to StoryBooks 1.0.0 designed by Umar Magaji</p>
<p>Post stories from your personal life experiences and choose to show them publicly or keep privately</p>
{{#if user}}
{{else}}
<a href="/auth/google" class="red darken-3 btn-large"><i class="fa fa-google left"> Login With Google</i></a>
{{/if}}